{% extends 'base.html.twig' %}
{% block title %}Changer de mot de passe{% endblock %}
{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div>
        <p>Nouveau mot de passe</p>
    </div>
    <div>
        {{ form_label(form.plainPassword) }}
        {{ form_widget(form.plainPassword) }}
        {{ form_errors(form.plainPassword) }}
    </div>
    <div>
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
{% endblock %}