{% extends 'base.html.twig' %}
{% block title %}Se connecter{% endblock %}
{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div>
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
        </div>
        <div>
            {{ form_label(form.plainPassword) }}
            {{ form_widget(form.plainPassword) }}
            {{ form_errors(form.plainPassword) }}
        </div>
        <div>
            {{ form_widget(form.save) }}
        </div>
    {{ form_end(form) }}
{% endblock %}