{% extends 'base.html.twig' %}
{% block title %}Enregistrer{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col col-md-6 mx-auto">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div>
                    <p>Demande de nouveau mot de passe</p>
                </div>
                <div>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {attr: {class:'form-control'}}) }}
                    {{ form_errors(form.email) }}
                </div>
                <div>
                    <br/>
                    {{ form_widget(form.save, {attr: {class:'btn btn-primary'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}