{{ form_widget(form.id) }}
<div>
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
</div>

<div>
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
</div>

<div>
    {{ form_label(form.slug) }}
    {{ form_widget(form.slug) }}
    {{ form_errors(form.slug) }}
</div>

<div>
    {{ form_label(form.resource) }}
    {{ form_widget(form.resource) }}
    {{ form_errors(form.resource) }}
</div>

<div>
    {{ form_label(form.category) }}
    {{ form_widget(form.category) }}
    {{ form_errors(form.category) }}
</div>

<div>
    <ul>
        {% if trick is defined %}
            {% set pathAdd = path('category_new', {slug:trick.slug}) %}
            {% set pathEdit = path('category_edit', {slug:trick.slug, id:0}) %}
            {% set pathDelete = path('category_delete', {slug:trick.slug, id:0}) %}
        {% else %}
            {% set pathAdd = path('category_new') %}
            {% set pathEdit = path('category_edit', {id:0}) %}
            {% set pathDelete = path('category_delete', {id:0}) %}
        {% endif %}
        <li><a href="{{ pathAdd }}">Ajouter</a></li>
        <li><a id="categoryEdit" href="{{ pathEdit }}">Modifier</a></li>
        <li><a id="categoryDelete" href="{{ pathDelete }}">Delete</a></li>
    </ul>
</div>
<div>
    {{ form_widget(form.save) }}
</div>

<script type="application/javascript">
    var category = document.querySelector('#trick_category');
    var updateCategory = document.querySelector('#categoryEdit');
    var deleteCategory = document.querySelector('#categoryDelete');

    var urlUpdate = updateCategory.pathname;
    var urlDelete = deleteCategory.pathname;

    updateCategoryEditId(category.value);
    category.addEventListener('change', function (evt) {
        updateCategoryEditId(evt.target.value);
    });

    function updateCategoryEditId(id) {
        updateUrl(updateCategory, urlUpdate, id);
        updateUrl(deleteCategory, urlDelete, id);
    }

    function updateUrl(element, url, id){
        element.removeAttribute('href');
        var urlSplitArr = url.split('/');
        urlSplitArr.shift();
        var urlMapArr = urlSplitArr.map(function(vUrl){
            if(Number(vUrl) === 0 && vUrl !== "") {
                return id;
            } else {
                return vUrl;
            }
        });
        element.setAttribute('href', '/' + urlMapArr.join('/').trim());
    }

</script>