<!-- Bien mettre en place la structure -->
    {% if trick is defined and trick.Principal and trick.Principal.type == 'video'%}
        <div class="container">
            <div class="col col-md-auto justify-content-center col-xl col-md col-sm">
                <h6 class="text-center">{{ trick.name }}</h6>
            </div>
        </div>
    {% endif %}
    <div class="container containerDisplayPrincipal" style="background: {{ trick is defined and trick.principal != null and trick.Principal.type == 'img' ?'url(' ~ files_directory ~ trick.principal.name ~ ');height:340px;':'gray;height:340px;' }};">
        <div class="row h-100">
            <div class="col col-md-auto justify-content-center col-xl col-md col-sm">
                {% if trick is defined and trick.Principal and trick.Principal.type == 'img'%}
                    <h6 class="text-center text-white">{{ trick.name }}</h6>
                {% endif %}
                {% if trick is defined and trick.Principal and trick.Principal.type == 'video' %}
                    <video src="{{ files_directory ~ trick.Principal.name }}" class="video" controls></video>
                {% endif %}

                {% if app.user %}
                    <div class="edit_delete">
                        {% if trick is defined and trick.Principal is defined and trick.Principal.id is defined %}
                            <input type="file" name="resource[]" style="display:none"/>
                            <button type="button" class="edit_resource" data-action="{{ path('media_edit', { slug: trick.slug, id: trick.Principal.id }) }}"><i class="fas fa-edit"></i></button>
                            <button type="button" data-action="{{ path('media_delete', { slug: trick.slug, id: trick.Principal.id }) }}" class="delete_img"><i class="fas fa-trash-alt"></i></button>
                        {% else %}
                            <button type="button" id="add_file_principal" class="hand_cursor" data-alreadyclicked="false"><i class="fas fa-plus-circle"></i></button>
                        {% endif %}
                    </div>
                {% endif %}
                <div id="upload_principal_input"></div>
            </div>
        </div>
    </div>
    <br/>
    <div class="container" id="imagesContent">
        <div class="row" id="display_images">
                {% if trick is defined %}
                    <!--<div class="col-md-auto justify-content-center col-xl col-md col-sm">-->
                        {% for resource in trick.resources if resource.principal != true %}
                            <div class="col-md-auto col-xl-auto col-md-auto col-sm-auto">
                                <div class="card" style="object-fit: contain;">
                                    {% if resource.type == 'img' %}
                                        <img src="{{ files_directory ~ resource.name }}" width="225" height="120"/>
                                    {% else %}
                                        <video src="{{ files_directory ~ resource.name }}" width="225" height="120" controls></video>
                                    {% endif %}
                                </div>

                                {% if app.user %}
                                    <div class="edit_delete">
                                        <input type="file" name="resource[]" style="display:none;"/>
                                        <button type="button" class="edit_resource" data-action="{{ path('media_edit', { slug: trick.slug, id: resource.id}) }}"><i class="fas fa-edit"></i></button>
                                        <button type="button" data-action="{{ path('media_delete', { slug: trick.slug, id: resource.id}) }}" class="delete_img"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                     <!--</div>-->
                {% endif %}

                <div class="col-md-auto col-xl-auto col-md-auto col-sm-auto">
                    <div id="upload_file">
                        <div id="trick_resources"
                             data-principal="{{ form_widget(form.resources.vars.prototype.principal)|e('html_attr') }}"
                             data-prototype="{{ form_widget(form.resources.vars.prototype.name, { attr: {class:'form-control'}})|e('html_attr') }}"
                             data-count="{{ form.resources|length }}">
                            <div style="display: none;">
                                {% for resource in form.resources %}
                                    {{ form_widget(resource.id) }}
                                    {{ form_widget(resource.principal) }}
                                    {{ form_widget(resource.filename, {attr: {value: resource.vars.value.name}}) }}
                                {% endfor %}
                            </div>
                        </div>
                            <!-- a hack -->
                            <!-- {{ form_widget(form.resources) }} -->
                            {% if app.user %}
                                <button type="button" id="addFile" class="hand_cursor"><i class="fas fa-plus-circle"></i></button>
                            {% endif %}
                            {{ form_errors(form.resources) }}
                    </div>
                </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col col-xl col-md col-sm">
                {{ form_widget(form.id) }}
                <div>
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {attr: {class:'form-control'}}) }}
                    {{ form_errors(form.name) }}
                </div>

                <div>
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, {attr: {class:'form-control'}}) }}
                    {{ form_errors(form.description) }}
                </div>

                <div>
                    {{ form_label(form.slug) }}
                    {{ form_widget(form.slug, {attr: {class:'form-control'}}) }}
                    {{ form_errors(form.slug) }}
                </div>

                <div>
                    {{ form_label(form.category) }}
                    {% if trick is defined %}
                        {% set pathAdd = path('category_new', {slug:trick.slug}) %}
                        {% set pathEdit = path('category_edit', {slug:trick.slug, id:0}) %}
                        {% set pathDelete = path('category_delete', {slug:trick.slug, id:0}) %}
                    {% else %}
                        {% set pathAdd = path('category_new') %}
                        {% set pathEdit = path('category_edit', {id:0}) %}
                        {% set pathDelete = path('category_delete', {id:0}) %}
                    {% endif %}
                    <div class="input-group">
                        {{ form_widget(form.category, {attr: {class:'form-control'}}) }}
                        <div class="input-group-append">
                            <div class="input-group-text"><a href="{{ pathAdd }}" class="text-black-50"><i class="fas fa-plus-circle"></i></a></div>
                            <div class="input-group-text"><a id="categoryEdit" href="{{ pathEdit }}" class="text-black-50"><i class="fas fa-edit"></i></a></div>
                            <div class="input-group-text"><a id="categoryDelete" href="{{ pathDelete }}" class="text-black-50"><i class="fas fa-trash"></i></a></div>
                        </div>
                    </div>
                    {{ form_errors(form.category) }}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col mx-auto text-center col-xl-auto col-md-auto col-sm-auto">
                    {% if trick is defined %}
                        <button type="submit" id="trick_delete" data-action="{{ path('trick_delete', {slug: trick.slug }) }}" class="btn btn-danger">Supprimer</button>
                    {% endif %}
                    {{ form_widget(form.save, {attr: {class: 'btn btn-primary' }}) }}
            </div>
        </div>
    </div>
    <br/>
<script type="application/javascript">
    var category = document.querySelector('#trick_category');
    var updateCategory = document.querySelector('#categoryEdit');
    var deleteCategory = document.querySelector('#categoryDelete');

    var urlUpdate = updateCategory.pathname;
    var urlDelete = deleteCategory.pathname;

    updateCategoryEditId(category.value);
    category.addEventListener('change', function (evt) {
        updateCategoryEditId(evt.target.value);
    });

    function updateCategoryEditId(id) {
        updateUrl(updateCategory, urlUpdate, id);
        updateUrl(deleteCategory, urlDelete, id);
    }

    function updateUrl(element, url, id){
        element.removeAttribute('href');
        var urlSplitArr = url.split('/');
        urlSplitArr.shift();
        var urlMapArr = urlSplitArr.map(function(vUrl){
            if(Number(vUrl) === 0 && vUrl !== "") {
                return id;
            } else {
                return vUrl;
            }
        });
        element.setAttribute('href', '/' + urlMapArr.join('/').trim());
    }

</script>
<script type="application/javascript">

    var trickResources = document.querySelector('#trick_resources');
    var inputFileContent = trickResources.dataset.prototype;
    var inputFilePrincipal = trickResources.dataset.principal;

    var addFile = document.querySelector('#addFile');
    var uploadFilePrincipalDiv = document.querySelector('#upload_principal_input');
    var addFilePrincipal = document.querySelector('#add_file_principal');

    var indexName = trickResources.dataset.count;

    var indexAlreadyClicked = 0;

    if( addFilePrincipal !== null) {

        addFilePrincipal.addEventListener('click', function(evt) {

            if(evt.currentTarget.dataset.alreadyclicked === 'false') {

                var inputContentRpl = inputFileContent.replace(/__name__/g, indexName);
                var inputFilePrincipalRpl = inputFilePrincipal.replace(/__name__/g, indexName);
                var inputGroupTplt = createInputGroupElement();

                inputGroupTplt.appendChild(
                    createElementFromHTML(inputContentRpl)
                );

                inputFilePrincipaltpl = createElementFromHTML(inputFilePrincipalRpl);
                inputFilePrincipaltpl.checked = true;
                inputFilePrincipaltpl.value = true;

                inputGroupTplt.appendChild(
                    inputFilePrincipaltpl
                );

                var inputGroupAppendTpl = createGroupAppendElement(indexName);

                inputGroupTplt.appendChild(
                    inputGroupAppendTpl
                );

                uploadFilePrincipalDiv.appendChild(inputGroupTplt);
                addEventOnRemoveFile(indexName);
                evt.currentTarget.dataset.alreadyclicked = true;
            }

        });
    }

    addFile.addEventListener('click', function(evt) {
        var inputContentRpl = inputFileContent.replace(/__name__/g, indexName);
        var inputGroupTplt = createInputGroupElement();
        var inputGroupAppendTpl = createGroupAppendElement(indexName);

        inputGroupTplt.appendChild(
            createElementFromHTML(inputContentRpl)
        );
        inputGroupTplt.appendChild(
            inputGroupAppendTpl
        );

       trickResources.appendChild(
           inputGroupTplt
       );

       addEventOnRemoveFile(indexName);
        indexName++;
    });


    function addEventOnRemoveFile(index) {

        var removeFile = document.querySelector('.removeFile_' + index);
        removeFile.addEventListener('click', function(evt){
            evt.currentTarget.closest('.input-group').remove();
            addFilePrincipal.dataset.alreadyclicked = false;
        });
    }

    function createInputGroupElement() {
        return createElementFromHTML('<div class="input-group"> </div>');
    }

    function createGroupAppendElement(index) {

        var trickResource = document.querySelector('#trick_resources');

        var el = createElementFromHTML('<div class="input-group-append"> \n' +
            '<span class="input-group-text">\n' +
            '&nbsp;<button type="button" class="removeFile_'+ index +'"><i class="fas fa-trash-alt"></i></button>\n' +
            '</span>\n' +
            '</div>\n');

        return el;
    }

    function createElementFromHTML(htmlString) {
        var div = document.createElement('div');
        div.innerHTML = htmlString.trim();
        return div.firstChild;
    }

</script>