{% extends 'base.html.twig' %}

{% block title %}Ensemble des figures{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['success','failed']) %}
        {% for message in messages %}
            <div>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

<!-- La liste des tricks à afficher-->
    <div class="container">
    {% for trick in tricks %}
        <div class="item">
            <div>
                <a href="{{ path('show_trick',{'slug':trick.slug}) }}"><strong>{{ trick.name }}</strong></a>
            </div>
            <div>
                <p>{{ trick.description }}</p>
            </div>
            <div>
                <em>{{ trick.user.username }}</em> - <em>{{ trick.category.name }}</em>
            </div>
        </div>
        <hr/>
    {% endfor %}
    </div>
{% endblock %}
