{% extends 'base.html.twig' %}
{% block title %}Figures{% endblock %}
{% block body %}
    <br/>
    <div class="container">
        <div class="row">
            {% for trick in tricks %}
                <div class="col-md-auto tricks col-md col-sm">
                    <div class="card">
                        <!-- 225px/120px-->
                        {% if  trick.getThumbnailOrDefault() and trick.getThumbnailOrDefault()['type'] == 'video' %}
                            <video src="{{ files_directory ~ trick.getThumbnailOrDefault()['name'] }}" width="225px" height="120px" controls></video>
                        {% else %}
                            <img src="{{ trick.getThumbnailOrDefault() ? files_directory ~ trick.getThumbnailOrDefault()['name']:'/build/css/imgs/trick_logo.png' }}" width="225px" height="120px"/>
                        {% endif %}
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="{{ path('show_trick', {slug: trick.slug}) }}">{{ trick.name }}</a>
                            </li>
                            {% if app.user %}
                                <li class="list-inline-item">
                                    <a href="{{ path('trick_edit', {slug: trick.slug}) }}"><i class="fas fa-edit"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <form action="{{ path('trick_delete', {slug: trick.slug }) }}">
                                        <button type="submit" class="trick_delete"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
