{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    {% for label, messages in app.flashes(['success','failed']) %}
                        {% for message in messages %}
                            <div>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div>
                        {{ form_label(form.currentPassword) }}
                        {{ form_widget(form.currentPassword, {attr: {class: 'form-control'}}) }}
                        {{ form_errors(form.currentPassword) }}
                    </div>
                    <div>
                        {{ form_label(form.changePassword.first) }}
                        {{ form_widget(form.changePassword.first, {attr: {class: 'form-control'}}) }}
                        {{ form_errors(form.changePassword.first) }}
                    </div>
                    <div>
                        {{ form_label(form.changePassword.second) }}
                        {{ form_widget(form.changePassword.second, {attr: {class: 'form-control'}}) }}
                        {{ form_errors(form.changePassword.second) }}
                    </div>
                    <br/>
                    <div>
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}