{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
            <div class="col">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div>
                        {{ form_widget(form.id) }}
                        {{ form_label(form.firstname) }}
                        {{ form_widget(form.firstname, {attr: {class: 'form-control'}}) }}
                        {{ form_errors(form.firstname) }}
                    </div>
                    <div>
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname, {attr: {class: 'form-control'}}) }}
                        {{ form_errors(form.lastname) }}
                    </div>
                    <div>
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username, {attr: {class: 'form-control'}}) }}
                        {{ form_errors(form.username) }}
                    </div>
                    <div>
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {attr: {class: 'form-control'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div>
                        {{ form_label(form.picture) }}
                        {% if app.user.picture %}
                            <div>
                                <img src="{{ files_directory ~ app.user.picture }}" width="64" height="64"/>
                            </div>
                        {% endif %}
                        {{ form_widget(form.picture, {attr: { class: 'form-control'}}) }}
                    </div>
                    <br/>
                    <div>
                        <a href="{{ path('change_password') }}" class="btn btn-primary">Changer mot de passe</a>
                    </div>
                    <br/>
                    <div>
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary'}}) }}
                    </div>
                {{ form_end(form) }}

        </div>
    </div>
</div>
{% endblock %}
